[DEFAULT]
mail_path=/var/spool/mail/{{ telegram_user }}

token={{ telegram_token }}

{% for val in telegram_transfers %}
[M{{ loop.index  }}]
chat_id={{ val.chat_id }}
{% if val.to_address is defined %}
to_address={{ val.to_address }}
{% endif %}
{% if val.from_address is defined %}
from_address={{ val.from_address }}
{% endif %}
{% if val.disable_photo is defined %}
disable_photo={{ val.disable_photo }}
{% endif %}
{% if val.disable_text is defined %}
disable_text={{ val.disable_text }}
{% endif %}
{% if val.disable_caption is defined %}
disable_caption={{ val.disable_caption }}
{% endif %}
{% if val.caption_chat_id is defined %}
caption_chat_id={{ val.caption_chat_id }}
{% endif %}
{% endfor %}
