# needed to get it to work
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated reject_unauth_destination

# enable sasl authentication when client connects to postfix
smtpd_sasl_auth_enable = yes

# Send ALL mail to telegram
virtual_alias_maps = pcre:/etc/postfix/virtual
